Package                        Version
------------------------------ --------
certifi                        2024.2.2
charset-normalizer             3.3.2
greenlet                       3.0.3
idna                           3.7
lxml                           5.2.1
pip                            23.2.1
playwright                     1.43.0
pyee                           11.1.0
PyMySQL                        1.1.0
requests                       2.31.0
requests-toolbelt              1.0.0
tencentcloud-sdk-python-common 3.0.1132
tencentcloud-sdk-python-tmt    3.0.1132
typing_extensions              4.11.0
urllib3                        2.2.1
